body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:rgb(21, 124, 150);
 
}
table , th ,td {
    border: 3px solid black;
    border-collapse: collapse;
    height: 50px;
    
    }
    th{
    text-align: left
    }
    td{
    width: 400px;    
    text-align: center;
    }
    button{
        background-color: #7F8C8D;
        width: 150px;
        height: 40px;
        border-radius: 2px;
        color: white;
        font-weight: bold

    }